.custom-btn {
    color: #0275d8;
    padding: 13px 20px;
    font-weight: bold;
    outline: none;
    &:hover {
    background-color: #0275d8;
    color: white;
    }
}


.btn-primary {
    background-color:#0275d8;
    width: 250px;
    padding: 20px 20px;
    font-weight: bold;
    outline: none;
    border-radius: 0px;
    border: 1px solid #5bc0de;
    display: block;
    margin: auto;
    margin-bottom: 15px;
    &:hover,
    &:focus,
    &:active,
    &:active:focus {
        color: darken(#0275d8, 50%);
        box-shadow: 1px 1px 0px 0px #0275d8;
        background-color: #0275d8;
        border: 1px solid #0275d8;
    }
}   


