#footer {
    height: 400px;
    background-color: #292b2c;
    margin: 0px;
    padding-bottom: 200px;
    span {
        color: darken(white,5%);   
    }
    img {
        height: 30%;
        margin-top: 25px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    
    hr {
        width: 60%;
        border-top: 1px solid lighten(#292b2c, 10%);
        margin-bottom: 30px;
        margin-top: 20px;
    }
    .hr-small {
        width: 5%;
        border-top: 4px solid $blue;
    }
    form{
        label {
            color: lighten(#292b2c, 60%);
            margin-bottom: 15px;
            font-size: 18px;
        }
        input {
            background-color: darken(#292b2c, 5%);
            border: none;
            border-radius: 0px;
            font-weight: bold;
            color: darken(white,5%);
            &:focus {
                border-color: white;
                box-shadow: 0px 0px 2px darken(white,5%);
                transition-property: box-shadow, border-color;
                transition-duration: 0.5s;
            }
        }
    }
}



.footer-links {
    margin-bottom: 20px;
    a {
        text-decoration: none;
        color: lighten(#292b2c, 60%);
        font-size: 130%;
        margin-left: 10px;
        margin-right: 10px;
        &:hover,
        &:focus {
            cursor: pointer;
            color: lighten(#292b2c, 80%);
        }
    }
}

