
.container-fluid{
    margin-left: 0px;
    margin-right: 0px;
}

.custom-navbar {
    background: lighten(white , 25%);
    border:none;
    font-weight: bold;
    padding: 10px 0px;
    margin-bottom: 0px;
    .navbar-brand {
        padding:0px 30px;
    }
    .navbar-right {
        margin-left: 0;
    }
    .navbar-nav {
        padding-left: 10px;
        .active {
            a{
                color: #0275d8;
                background-color:white;
                border-bottom: 1px solid #0275d8;
            }
            a:hover {
                background-color: lighten(#0275d8, 50%);
            }
        }
        li > a:hover {
            color: #0275d8;
            background-color: lighten(#0275d8, 50%);
        }
        a {
            color: darken(white, 50%);
            transition-property: background-color;
            transition-duration: 0.5s;
            padding-bottom: 20px;
        }
    }
}


